<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="9020AusDeveloper.QuickTxt"
    Publisher="CN=ED21DECD-21AA-493C-8234-F93AA597A7F2"
    Version="2.6.0.0" />

  <mp:PhoneIdentity PhoneProductId="6630fe75-9136-4d6e-843b-d679c2b116bd" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>QuickTxt</DisplayName>
    <PublisherDisplayName>Aus Dev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="QuickTxt.App">
      <uap:VisualElements
        DisplayName="QuickTxt"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="QuickTxt"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="text">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/plain">.txt</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Text Document</uap:DisplayName>
            <uap:Logo>Assets\LogoExtensions.png</uap:Logo>
            <uap:InfoTip>Text Document (plain text file)</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Opens Text Documents (plain text files)">
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DataFormat>Text</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="confirmAppClose" />
    <uap:Capability Name="enterpriseAuthentication"/>
    <uap:Capability Name="removableStorage"/></Capabilities>  
</Package>